@using RealEstateApp.Core.Application.ViewModel.RealEstate;
@using RealEstateApp.Core.Application.ViewModel.Improvement;
@model List<RealEstateViewModel>
@{
    ViewData["Title"] = "Propiedaddes";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h1 class="text-secondary text-center">PROPIEDADES DEL AGENTE</h1>
                <div class="card-body">

                    <div class="row">

                        @if (Model.Count == 0)
                        {
                            <h2 class="text-dark">El agente no tiene propiedades </h2>
                        }
                        else
                        {
                            @foreach (RealEstateViewModel item in Model)
                            {
                                <div class="col-4 mb-3">
                                    <div class="card">

                                        <div class="card-body gold-shadow">
                                            <img src="@item.Images[0]" class="bd-placeholder-img card-img-top" />


                                            <h5 class="text-dark mt-2"><strong>@item.TypeOfRealEstateName</strong></h5>
                                            <h5 class="text-dark"><span>@item.Address</span></h5>
                                            <hr class="text-secondary">
                                            <h5 class="text-dark">Codigo</h5>
                                            <h5 class="text-dark"><strong>@item.Code</strong></h5>
                                            <hr>
                                            <h5 class="text-dark">Venta</h5>
                                            <h5 class="text-danger">RD$@item.Price</h5>

                                            <b class="text-dark"></b>
                                            <div class=" line-border"></div>
                                            <div class="row justify-content-start">
                                                <div class="col text-start">
                                                    <h6 class="text-dark mb-2 d-inline-block"><i class="fa-sharp fa-solid fa-sink"></i> <b>@item.BathRooms</b> Baños</h6>
                                                    <h6 class="text-dark ms-2 mb-2 d-inline-block"><i class="fa-solid fa-person-booth"></i> <b>@item.BedRooms</b> Habitaciones</h6>
                                                    <h6 class="text-dark ms-2 mb-2 d-inline-block"><i class="fa-solid fa-person-digging"></i><b>  @item.Size</b>  Metros</h6>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Ver Detalles</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-body img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .gold-shadow {
        box-shadow: 0 0 10px #a7740a;
    }

    .card-body {
        border: hidden;
        background: white;
    }

    .btn-white-white {
        border: 2px solid #a7740a;
        color: white;
    }

    .line-border {
        border-top: 1px solid #a7740a;
    }

</style>