@using RealEstateApp.Core.Application.ViewModel.Home;
@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel
<div class="container">

    <h1 class="text-center" style="color:#09385B">Welcome Back</h1>
    <div class="row mt-5">


        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">PROPIEDADES REGISTRADAS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.RealStatesRegistered PROPIEDADES REGISTRADAS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">AGENTES ACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.ActiveAgents AGENTES ACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">AGENTES INACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.InActiveAgents AGENTES INACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">CLIENTES ACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.ActiveClients CLIENTES ACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">CLIENTES INACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.InActiveClients CLIENTES INACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">TOTAL DE PAGOS HOY</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.InActiveDevelopers PAGOS REALIZADOS HOY </strong></p>
                </div>
            </div>
        </div>

    </div>


</div>