@using RealEstateApp.Core.Application.ViewModel.RealEstate;
@using RealEstateApp.Core.Application.ViewModel.Improvement;
@model List<RealEstateViewModel>
@{
    ViewData["Title"] = "Propiedaddes";
}


<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h1 class="text-secondary text-center">WELCOME TO THE REALSTATEAPP</h1>
                <div class="card-body">

                    <div class="row">

                        @if (Model.Count == 0)
                        {
                            <h2 class="text-dark">No hay propiedades creadas</h2>
                        }
                        else
                        {
                            @foreach (RealEstateViewModel item in Model)
                            {
                                <div class="col-4 mb-3">
                                    <div class="card">

                                        <div class="card-body gold-shadow">
                                            <img src="@item.Images[0]" class="bd-placeholder-img card-img-top" />


                                            <p class="text-dark mt-2 mb-2">Tamano: @item.Size Mts</p>
                                            <h6 class="text-dark mt-2 mb-2">Precio: RD$@item.Price</h6>
                                            @*  <h6 class="text-dark mt-2 mb-2">Descripcion: @item.Description</h6> *@

                                            <b class="text-dark"></b>
                                            <div class=" line-border"></div>
                                            <div class="row justify-content-center">
                                                <div class="col text-center">
                                                    <h6 class="text-dark mt-2 mb-2"><i class="fa-sharp fa-solid fa-sink"></i> <b>@item.BathRooms</b></h6>
                                                </div>
                                                <div class="col text-center">
                                                    <h6 class="text-dark mt-2 mb-2"><i class="fa-solid fa-person-booth"></i> <b>@item.BedRooms</b></h6>
                                                </div>
                                            </div>


                                            @*    @foreach (ImprovementViewModel improvements in ViewBag.Improvements)
                                    {
                                    <h6 class="text-dark mt-2 mb-2">Mejoras: @item.ImprovementsName</h6>
                                    } *@


                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning">Ver Detalles</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-body img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .gold-shadow {
        box-shadow: 0 0 10px #a7740a;
    }

    .card-body {
        border: hidden;
        background: white;
    }

    .btn-white-white {
        border: 2px solid #a7740a;
        color: white;
    }

    .line-border {
        border-top: 1px solid #a7740a;
    }

</style>