@using RealEstateApp.Core.Application.Dtos.Accounts;
@using RealEstateApp.Core.Application.ViewModel.User;
@using RealEstateApp.Core.Application.Helpers;
@inject IHttpContextAccessor httpContextAccessor
@model List<UserViewModel>
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    ViewData["Title"] = "Usuarios";
}


<div class="container">
    <div class="col-8 offset-2 mt-5">
        <div class="card">
            <div class="card-header bg-color">
                <h3 class="card-title text-light text-center">LISTADO DE AGENTES</h3>
            </div>

            <div class="card-body">

                @if (Model.Count == 0 || Model == null)
                {
                    <h4 class="text-secondary fw-bolder">No hay agentes registrados en este momento.</h4>
                }
                else
                {
                    <table class="table bg-white table-responsive">
                        <thead class="text-white bg-color">
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Propiedades</th>
                                <th>Correo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td class="text-center">5</td>
                                        <td>@item.Email</td>
                                        <td>@(item.IsActive == true ? "Activo" : "Inactivo")</td>
                                        <td>
                                            @if (item.Id != User.Id)
                                            {
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-h" style="font-size: 1.5em; color:black;"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        @if (item.IsActive != true)
                                                        {
                                                            <a asp-controller="Agent" asp-action="ActiveOrDesactive" asp-route-id="@item.Id" title="Activar" class="dropdown-item"><i class="far fa-thumbs-up"></i> Activar</a>
                                                        }
                                                        else
                                                        {
                                                            <a asp-controller="Agent" asp-action="ActiveOrDesactive" asp-route-id="@item.Id" title="Desactivar" class="dropdown-item"><i class="far fa-thumbs-down"></i> Desactivar</a>
                                                        }
                                                        <a asp-controller="Admin" asp-action="DeleteAgent" asp-route-id="@item.Id" title="Editar" class="dropdown-item"><i class="fa-solid fa-user-minus"></i>  Eliminar</a>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <b class="text-secondary">En sesión</b>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                
            </div>
        </div>
    </div>
</div>

<script>
    var dropdownTrigger = document.querySelector('.btn-link');
    var myDropdown = new bootstrap.Dropdown(dropdownTrigger);
</script>

<style>
    .bg-color {
        background-color: #cf671b;
    }
</style>
