@using RealEstateApp.Core.Application.ViewModel.RealEstate
@using RealEstateApp.Core.Application.Enums
@using RealEstateApp.Core.Application.Helpers;
@using RealEstateApp.Core.Application.Dtos.Accounts;
@using RealEstateApp.Core.Application.ViewModel.Provinces;
@inject IHttpContextAccessor httpContextAccessor;
@model SaveRealEstateViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    var UserInSession = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    ViewData["Title"] = "Registrar un Inmueble";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card mt-3">
                    <div class="card-header bg-card-header text-light text-center">
                        <h4>Crear una propiedad</h4>
                    </div>
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="card-body mt-3">
                        <form class=" mb-3" method="post" asp-controller="Agent" asp-action="@(editMode ? "EditRealEstate" : "CreateRealState")" enctype="multipart/form-data">

                            @* Tipo de la propiedad *@
                            <div class="mb-3">
                                <label>Seleccione el tipo de venta</label>
                                <select asp-for="IdTypeOfSale" class="form-select mb-3">
                                    @foreach (var item in ViewBag.TypeOfSale)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="IdTypeOfSale" class="text-danger"></span>
                            </div>

                            @* Tipo de la venta *@
                            <div class="mb-3">
                                <label>Seleccione el tipo de propiedad</label>
                                <select asp-for="IdTypeOfRealEstate" class="form-select mb-3">
                                    @foreach (var item in ViewBag.TypeOfRealEstate)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="IdTypeOfRealEstate" class="text-danger"></span>
                            </div>

                            @* Precio de la propiedad *@
                            <div class="mb-3">
                                <label>Precio de la propiedad</label>
                                <input type="text" class="form-control" asp-for="Price" autocomplete="off">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            @* Metros de la propiedad *@
                            <div class="mb-3">
                                <label>Tamano de la propiedad - Metros de la propiedad</label>
                                <input type="text" class="form-control" asp-for="Size">              
                                <span asp-validation-for="Size" class="text-danger"></span>
                            </div>


                            @* Cantidad de Habitaciones *@
                            <div class="mb-3">
                                <label>Cantidad de habitaciones que tiene la propiedad</label>
                                <input type="number" class="form-control" asp-for="BedRooms" autocomplete="off">
                                <span asp-validation-for="BedRooms" class="text-danger"></span>
                            </div>

                            @* Cantidad de banos *@
                            <div class="mb-3">
                                <label>Cantidad de banos que tiene la propiedad</label>
                                <input type="number" class="form-control" asp-for="BathRooms" autocomplete="off">
                                <span asp-validation-for="BathRooms" class="text-danger"></span>
                            </div>
                            
                            @* Provincias *@
                            <div class="mb-3">
                                <label>Provincias</label>
                                <select asp-for="Address" class="form-select mb-3">
                                    @foreach (var provicen in ViewBag.Provinces)
                                    {
                                        <option value="@provicen">@provicen</option>
                                    }
                                </select>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>

                            @* Select multiple - Mejoras *@
                            <div class="form-group mb-3">
                                <label class="control-label mb-1">Seleccione una o varias mejoras</label>
                                <select asp-for="PropertiesImprovementsId" id="selectMultiple" class="form-control mb-3" multiple>
                                    @foreach (var item in ViewBag.Improvements)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="PropertiesImprovementsId" class="text-danger"></span>
                            </div>

                            @* Select Imagenes *@
                            <div class="mb-3">
                                <label class="form-label">Seleccione una imagen:</label>                             
                                <input asp-for="Files" class="form-control" multiple />
                                <span asp-validation-for="Files" class="text-danger"></span>
                            </div>

                            @* Descripcion de la propiedad *@
                            <div class="mb-3">
                                <label>Descripcion de la propiedad</label>
                                <textarea class="form-control" asp-for="Description" autocomplete="off"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            @if(editMode){
                                <input type="hidden" asp-for="Code" value="@DateTime.Now" />
                            }                            

                            <input type="hidden" asp-for="Id" name="id" /> 
                            
                            <input type="hidden" asp-for="IdAgent" value="@UserInSession.Id" />
                            
                            
                            <button type="submit" class="btn btn-outline-primary float-end ms-2">@(editMode ? "Editar Propiedad" :"Crear Propiedad")</button>
                            <a class="btn btn-secondary float-end" asp-controller="Agent" asp-action="IndexEstate">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<style>

    .card {
        border: 0.2px solid #ffff;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 4px 4px 16px #000000;
    }

    label {
        color: #5A5A5A;
        font-size: 18px;
        font-weight: bold;
    }

    .bg-card-header {
        background-color: gray;
        color: white;
    }

</style>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>

<script>
    new MultiSelectTag('selectMultiple');
</script>